.footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1EDD88;
    margin-top: 20px;
    margin-right: 10px
}

.footer {
    background-color: rgba(34, 32, 32, 0.904);
    height: 200px;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer p {
    text-align: center;
    margin-bottom: 50px;
    color: grey;
}


